<%= render "shared/header" %>
<div class="main">
  <%= link_to image_tag"https://www.pakutaso.com/shared/img/thumb/PAK88_manganotana20141108161323_TP_V.jpg", class:"index-image" %>
  <div class="review-contents">
    <% if user_signed_in? %>
      <li><%= link_to '新規投稿', new_review_path, class: "login-menu" %></li>
      <li><%= link_to 'ログアウト', new_review_path, class: "login-menu" %></li>
    <% else %>
      <li><%= link_to 'サインイン', new_review_path, class: "login-menu" %></li>
      <li><%= link_to 'ログイン', new_review_path, class: "login-menu" %></li>
    <% end %>
  </div>
  <div class="reviews">
    <% @review.each do |review| %>
      <li class="all-reviews">
        <%= image_tag review.image, class: "review-img" if review.image.attached? %>
        <%= review.review_title %>
        <%= review.commic_title %>
      </li>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>