<%= render "shared/header" %>
<div class="contents">
    <%= @review.review_title %>
    <%= image_tag @review.image, class: "review-img" if @review.image.attached? %>
    <p>マンガのタイトル…<%= @review.commic_title %></p>
    <%= @review.text %>
    <%= @review.evaluation.name %>
</div>

<div class="edit">
    <% if user_signed_in? && current_user.id == @review.user_id %>
        <li><%= link_to '編集する', edit_review_path, class: "login-menu" %></li>
        <li><%= link_to '削除する', review_path(@review.id), method: :delete, class: "login-menu" %></li>
    <% end %>
</div>

<%= render "shared/footer" %>
