<%= render "shared/header" %>
<div class="contents">
    <%= @review.review_title %>
    <%= image_tag @review.image, class: "review-img" if @review.image.attached? %>
    <%= @review.commic_title %>
    <%= @review.text %>
</div>

<%= render "shared/footer" %>
